.App {
  text-align: center;
  color: white
}

.App-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  font-family: 'Raleway';
  color: white;
  margin-left: 2rem;
  margin-right: 1rem;
  padding: 0.5rem 0 0 0;
  object-fit: contain;  
}

a {
  all: unset;
  margin-right: 1rem;
  transition: 0.25s;
  cursor: pointer;
}

a:hover {
  color: grey
}

.logo {
  object-fit: contain;
  height: 2em;
  display: flex;
  align-items: center;
  flex: 0 1 auto;
}

.logolink {
  height: inherit;
  object-fit: contain;
  margin-right: 0;
}